<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.system.mapper.RainbowCellsMapper">
    
    <resultMap type="RainbowCells" id="RainbowCellsResult">
        <result property="id"    column="id"    />
        <result property="groupId"    column="group_id"    />
        <result property="rainbowKey"    column="rainbow_key"    />
        <result property="rainbowValue"    column="rainbow_value"    />
        <result property="cellDesc"    column="cell_desc"    />
        <result property="lineNum"    column="line_num"    />
        <result property="deleted"    column="deleted"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createUser"    column="create_user"    />
        <result property="updateUser"    column="update_user"    />
        <result property="groupName"    column="group_name"    />
    </resultMap>

    <sql id="selectRainbowCellsVo">
        select id, group_id, rainbow_key, rainbow_value, cell_desc, line_num, deleted, create_time, update_time, create_user, update_user,group_name from rainbow_cells
    </sql>

    <select id="selectRainbowCellsList" parameterType="RainbowCells" resultMap="RainbowCellsResult">
        <include refid="selectRainbowCellsVo"/>
        <where>  
            <if test="groupId != null "> and group_id = #{groupId}</if>
            <if test="rainbowKey != null  and rainbowKey != ''"> and rainbow_key = #{rainbowKey}</if>
            <if test="rainbowValue != null  and rainbowValue != ''"> and rainbow_value = #{rainbowValue}</if>
            <if test="cellDesc != null  and cellDesc != ''"> and cell_desc = #{cellDesc}</if>
            <if test="lineNum != null "> and line_num = #{lineNum}</if>
            <if test="deleted != null "> and deleted = #{deleted}</if>
            <if test="createUser != null  and createUser != ''"> and create_user = #{createUser}</if>
            <if test="updateUser != null  and updateUser != ''"> and update_user = #{updateUser}</if>
        </where>
        order by line_num asc
    </select>
    
    <select id="selectRainbowCellsById" parameterType="Long" resultMap="RainbowCellsResult">
        <include refid="selectRainbowCellsVo"/>
        where id = #{id}
    </select>

    <select id="selectLineMaxNoBygroupId" parameterType="Long" resultType="Integer">
        select max(line_num) from rainbow_cells t1 where t1.group_id = #{groupId}
    </select>
        
    <insert id="insertRainbowCells" parameterType="RainbowCells" useGeneratedKeys="true" keyProperty="id">
        insert into rainbow_cells
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="groupId != null">group_id,</if>
            <if test="rainbowKey != null and rainbowKey != ''">rainbow_key,</if>
            <if test="rainbowValue != null and rainbowValue != ''">rainbow_value,</if>
            <if test="cellDesc != null">cell_desc,</if>
            <if test="lineNum != null">line_num,</if>
            <if test="deleted != null">deleted,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createUser != null">create_user,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="groupName != null">group_name,</if>

         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="groupId != null">#{groupId},</if>
            <if test="rainbowKey != null and rainbowKey != ''">#{rainbowKey},</if>
            <if test="rainbowValue != null and rainbowValue != ''">#{rainbowValue},</if>
            <if test="cellDesc != null">#{cellDesc},</if>
            <if test="lineNum != null">#{lineNum},</if>
            <if test="deleted != null">#{deleted},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="groupName != null">#{groupName},</if>

        </trim>
    </insert>

    <update id="updateRainbowCells" parameterType="RainbowCells">
        update rainbow_cells
        <trim prefix="SET" suffixOverrides=",">
            <if test="groupId != null">group_id = #{groupId},</if>
            <if test="rainbowKey != null and rainbowKey != ''">rainbow_key = #{rainbowKey},</if>
            <if test="rainbowValue != null and rainbowValue != ''">rainbow_value = #{rainbowValue},</if>
            <if test="cellDesc != null">cell_desc = #{cellDesc},</if>
            <if test="lineNum != null">line_num = #{lineNum},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRainbowCellsById" parameterType="Long">
        delete from rainbow_cells where id = #{id}
    </delete>

    <delete id="deleteRainbowCellsByIds" parameterType="String">
        delete from rainbow_cells where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

<!--    <select id="queryCellsByGroups" resultMap="RainbowCellsResult">-->
<!--        select rainbow_key,rainbow_value,group_id-->
<!--from rainbow_cells-->
<!--where deleted is false and group_id in-->
<!--      (select id from rainbow_groups where env = #{envName} and app_name = #{appName} and group_name in-->
<!--        <foreach collection="groupNames" item = "name" open="(" separator="," close=")">-->
<!--            #{name}-->
<!--        </foreach>-->
<!--      ) order by line_num-->

<!--    </select>-->

    <select id="queryCellsByGroups" resultMap="RainbowCellsResult">
        select rainbow_key,rainbow_value,group_id,group_name
        from rainbow_cells
        where deleted is false and group_id in
        (select id from rainbow_groups where env = #{envName} and app_name = #{appName} and group_name in
                <foreach collection="groupName" item = "name" open="(" separator="," close=")">
                    #{name}
                </foreach>
       )
          order by line_num
    </select>

    <select id="queryCellsByGroupId" resultMap="RainbowCellsResult">
            select rainbow_key,rainbow_value,group_id,group_name
        from rainbow_cells
        where deleted is false and group_id=#{groupId}  order by line_num
    </select>
</mapper>